In [2]:
import pandas as pd
import matplotlib as plt

In [3]:
df=pd.read_csv("data.csv")

In [4]:
df.head()

     0  0.1  0.2  0.3
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0

In [5]:
df.columns=['Bigmat_column','Bigmat_row','Smallmat_column','Smallmat_row']

In [6]:
df.head()

   Bigmat_column  Bigmat_row  Smallmat_column  Smallmat_row
0            0.0         0.0              0.0           0.0
1            0.0         0.0              0.0           0.0
2            0.0         0.0              0.0           0.0
3            0.0         0.0              0.0           0.0
4            0.0         0.0              0.0           0.0

In [17]:
import numpy as np
df.Bigmat_column.unique()

array([ 0.,  8., 12.,  4., nan,  1.,  2.,  3.,  5.,  9.,  7., 11., 13.,
       14.,  6., 10.])

In [16]:
df.Bigmat_column.value_counts()

7.0     8027
0.0     5392
8.0     3966
14.0    3393
9.0     3358
11.0    3115
1.0     2849
13.0    2322
2.0     2165
5.0     1179
6.0     1049
4.0      929
12.0     794
3.0      763
10.0     622
Name: Bigmat_column, dtype: int64